<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Price per Night ($)</th>
      <th>Number of Guests</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.name %></td>
        <td><%= flat.address %></td>
        <td><%= flat.description %></td>
        <td><%= flat.price_per_night %></td>
        <td><%= flat.number_of_guests %></td>
        <td><%= link_to 'Show', flat %></td>
        <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
        <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# CONTAINER DAS INFORMACOES %>

<div class="row">
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4>Light &amp; Spacious Garden Flat London</h4>
            </div>
            <p>10 Clifton Gardens London W9 1DT</p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span>3</span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> 75
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/4074">More info</a>
            <a class="ml-3 text-warning" href="/flats/4074/edit">Edit</a>
            <a data-confirm="Are you sure?" class="ml-3 text-danger" rel="nofollow" data-method="delete" href="/flats/4074">Remove</a>
          </div>
        </div>
      </div>
  </div>

<%= link_to 'New flat', new_flat_path %>